name: Build

on:
  push:
    branches:
      - main
      - develop
      - staging
  pull_request:
    branches:
      - main
      - develop
      - staging

permissions: read-all

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0S

      - name: Get shared node setup
        uses: ./.github/actions/node
        with:
          node-version: 18

      - name: Build assets
        run: npm run build

